<input type="text"  id="search-text" aria-describedby="search-text" 
[(ngModel)]="searchProducts" placeholder="Type Product name to Search Products" 
autofocus>
<p-table #dt2 [value]="products | filter : searchProducts" [paginator]="true" dataKey="id" [rows]="5" [showCurrentPageReport]="true" responsiveLayout="scroll" [(selection)]="selectedProducts3" 
 [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="loadProduct($event)" [totalRecords]="totalRecords" [loading]="loading"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,25,50]" [globalFilterFields]="['code','name','category','quantity']">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
        Products
        <!-- <p-button icon="pi pi-refresh"></p-button> -->
    </div>
    <!-- <div class="flex">
      <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt2.filterGlobal($event.target, 'contains')" placeholder="Search keyword" />
      </span>
  </div> -->
  <div style="text-align: right">        
    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
    <input type="text" pInputText size="50" placeholder="Global Filter"  (input)="dt2.filterGlobal($any($event.target).value, 'contains')" style="width:auto">
</div>

</ng-template>
  <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
        <th *ngFor="let col of cols" (click)="sortFunction(col.header, booleanValue)">
            {{col.header}} <p-sortIcon></p-sortIcon>
            <!-- <input (click)="$event.stopPropagation()" [style.width]="'90%'"  pInputText type="text" (keyup.enter)="columnFilter($event, col.field)"> -->
        </th>
     </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
      <tr [ngClass]="{'row-accessories': product.category === 'Accessories'}">
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
      </td>
          <td>{{product.code}}</td>
          <td>{{product.name}}</td>
          <td>{{product.category}}</td>
          <td [ngClass]="{'danger': product.quantity < 3}">{{product.quantity}}</td>
      </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
</ng-template>
<ng-template pTemplate="paginatorright">
    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
</ng-template>
<ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
        In total there are {{products ? products.length : 0 }} products.
    </div>
</ng-template>

</p-table>